# VS / Visual Studio
.vs/
*.vsidx
*.suo
*.user
*.db
*.sqlite
*.wsuo
DocumentLayout.json
VSWorkspaceState.json
ProjectSettings.json

# Build output
Debug/
Release/
x64/
x86/
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.dll
*.log
*.tlog
*.idb
*.ipch

# System files
Thumbs.db
Desktop.ini
.DS_Store
